<div class="store-items">
	<% if @counter > 5 %>
		<p class="counter"><%= pluralize(@counter, "person") %></p>
	<% end %>
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>

	<h2>Your Pragmatic Catalog</h2>

	<% cache ['store', Product.latest] do %>
		<% @products.each do |product| %>
			<% cache ['entry', product] do %>
				<div class="entry">
					<%= image_tag(product.image_url) %>
					<h3><%= product.title %></h3>
					<%= sanitize(product.description) %>
					<div class="price_line">
						<span class="price">
							<%= number_to_currency(product.price) %>
						</span>
						<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
