<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div class="container">
		<div class="header">
			<% if session[:user_id] %>
				<ul class="nav nav-pills pull-right">
						<li><%= link_to 'Admin', admin_path %></li>
						<li><%= link_to 'Orders', orders_path %></li>
						<li><%= link_to 'Products', products_path %></li>
						<li><%= link_to 'Users', users_path %></li>
						<li><%= link_to 'Logout', sessions_destroy_path %></li>
				</ul>
			<% end %>
			<h3><a href="/"><%= @page_title || "Pragmatic Bookshelf" %></a></h3>
		</div>
		<div class="row marketing">
			<div class="col-xs-12 col-sm-9">
				<div id="main">
					<%= yield %>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas">
				<div id="cart" class="list-group">
					<% if @cart %>
						<%= render @cart %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
