<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="#">Questions</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Contact</a></li>
			</ul>
			<h3><%= @page_title || "Pragmatic Bookshelf" %></h3>
		</div>
		<div class="row marketing">
			<div class="col-xs-12 col-sm-9">
				<div id="main">
					<%= yield %>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas">
				<div id="cart" class="list-group">
					<% if @cart %>
						<%= render @cart %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
